/* src/App.css */
.App {
  text-align: center;
  margin-top: 50px;
}

.letter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.letter {
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #000;
  width: 50px;
  text-align: center;
}

.highlight {
  background-color: yellow;
}

.wrong {
  background-color: red;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}